body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.75;
}

a{
    color: #fff;
    text-decoration: none;
    outline:0;
}
@keyframes wrapper {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.wrapper {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #348cb2;
}

.bg {
	animation: bg 60s linear infinite;
	background: url("1532336520650.jpg") repeat-x bottom left;
	height: 100%;
	position: absolute;
	background-size: 2250px;
	width: 6750px;
}

@keyframes bg {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(-2250px);
	}
}

@keyframes show {
	0% {
		transform: translate(0, 16px);
		opacity: 0;
	}
	100% {
		transform: translate(0);
		opacity: 1;
	}
}

.middle-box {
	animation: show 1s 1s forwards;
	opacity: 0;
	text-align: center;
	width: 100%;
	margin-top: -300px;
}

h1 {
	font-size: 56px;
	font-weight: 900;
	margin: 0;
}

p {
	font-size: 24px;
	margin: 0 0 24px 0;
	opacity: 0.75;
}

.nav {
	display: flex;
	justify-content: center;
}

.nav-item {
	animation: show 0.5s ease-in-out forwards;
	transition: all 0.3s ease-in-out;
	border-radius: 100%;
	border: solid 1px #fff;
	width: 72px;
	height: 72px;
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-item:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.175);
}

.nav-item a {
	font-size: 28px;
}
